.homepage {
    width: 90%;
    margin: auto;
  }
  
  /* Additional styles for slideshow, carousel, arrows, and placeholders */
  .slideshow {
    displ
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: aquamarine;
  }

  .slideshow img{ 
    display: flex;
    width   : 100%;
    height: 300px;
    
  }