.homepage {
    width: 90%;
    margin: auto;
  }
  
  /* Additional styles for slideshow, carousel, arrows, and placeholders */
  .slideshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: ;
  }