.carousel-container {
    margin: auto;
    padding: 20px;
    width: 90%; /* Adjust based on your preference */
  }

  .carousel-slide img {
    width: 100%; /* Make the image fit the slide */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-items {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 40%; /* Each item takes full width of the container */
    text-align: center;
  }
  
  .carousel-item img {
    width: auto; /* Adjust based on your design */
    max-width: 100%; /* Ensure it fits in the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  