/* Carousel.css */
.carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-items {
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .carousel-item img {
    width: 100%; /* Adjust based on your preference */
    object-fit: cover;
  }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  
  /* Positioning arrows */
  .arrow:first-child {
    left: 10px;
  }
  
  .arrow:last-child {
    right: 10px;
  }
  