.edit-profile-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .edit-profile-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .edit-profile-form label input[type="text"],
  .edit-profile-form label input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Makes sure padding does not affect overall width */
  }
  
  .edit-profile-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-profile-form button:hover {
    background-color: #0056b3;
  }
  