/* Footer.css */
footer {
    background-color: #333; /* Dark background for the footer */
    color: #fff; /* Light text color */
    padding: 20px;
    font-size: 14px;
  }
  
  .footer-layer {
    margin-bottom: 20px; /* Space between layers */
  }
  
  .app-promotion-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f4691; /* Light grey background, adjust as needed */
  }
  
  .app-image {
    flex-basis: 50%; /* Adjust based on your preference */
  }
  
  .app-info {
    flex-basis: 50%; /* Adjust based on your preference */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .app-ad-text {
    /* Styling for the advertisement text */
    margin-bottom: 20px; /* Adds space between the text and the app store links */
    
  }
  
  .app-store-links img {
    height: 60px; /* Adjust based on your preference */
    margin-right: 10px; /* Adds space between the app store icons */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .app-promotion-layer {
      flex-direction: column;
      text-align: center;
    }
  
    .app-store-links img {
      margin: 0 auto; /* Center the images on smaller screens */
      display: block;
      margin-bottom: 10px; /* Adds space between the app store icons */
    }
  }
  
  
  .footer-layer.info-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #222; /* Darker background for contrast */
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-layer.info-links div {
    margin: 10px;
  }
  
  .footer-layer.info-links h2 {
    font-weight: bold;
    margin-bottom: 15px; /* Space between header and links */
  }
  
  .footer-layer.info-links a {
    display: block; /* Each link on its own line */
    color: #fff; /* Light color for the links */
    text-decoration: none; /* No underlines */
    margin-bottom: 10px; /* Space between links */
  }
  
  .footer-layer.info-links a img {
    width: 24px; /* Example size, adjust as needed */
    vertical-align: middle; /* Aligns icon with text if text is added */
    margin-right: 5px; /* Space between icon and text */
  }
  
  @media (max-width: 768px) {
    .footer-layer.info-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-layer.info-links div {
      width: 100%; /* Full width to stack vertically on smaller screens */
      text-align: center; /* Center the content for smaller screens */
    }

    .app-store-icon {
        width: 100; /* Adjust width as needed */
        height: auto; /* Keeps the aspect ratio intact */
        margin: 0 5px; /* Adjust spacing around icons as needed */
      }
      
  }