/* header.css */
.appBar {
    background-color: #333; /* Customize as needed */
}




.searchBar {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0 10px;
    border-radius: 5px;
    width: 90%; /* Adjust the width as needed */
}

/* Add more styles specific to your header component */
