/* header.css */
.appBar {
    background-color: #333; /* Customize as needed */
}

/* header.css */
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the header stays on top of other content */
    background-color: #333; /* Example background color */
  }
  


.searchBar {
    color: inherit;
    background-color: rgba(180, 15, 15, 0.15);
    padding: 0 10px;
    border-radius: 5px;
    width: 90%; /* Adjust the width as needed */
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #14b49a; /* Example background color, adjust as needed */
    padding: 10px 0;
    align-items: center;
    
  }
  
  .nav-link {
    display: inline-block; /* or flex, depending on your layout */
    text-decoration: none; /* Removes underline from links */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    transition: background-color 0.3s; /* Smooth transition for the background color */
    border-right: 3px solid #333; /* Border between items, as specified earlier */
  }
  
  .nav-link:last-child {
    border-right: none; /* Removes border from the last item, as previously specified */
  }

  .nav-link:hover {
    background-color: #555; /* Darker shade on hover */
  }
  