/* header.css */
.appBar {
    background-color: #333; /* Customize as needed */
}

/* header.css */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the header stays on top of other content */
    background-color: #333; /* Example background color */
  }
  


.searchBar {
    color: inherit;
    background-color: rgba(88, 80, 80, 0.15);
    padding: 0 10px;
    border-radius: 5px;
    width: 90%; /* Adjust the width as needed */
}

/* Add more styles specific to your header component */

