/* header.css */
.appBar {
    background-color: #333; /* Customize as needed */
}

/* header.css */
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the header stays on top of other content */
    background-color: #333333; /* Example background color */
  }
  


.searchBar {
    color: inherit;
    background-color: rgba(180, 15, 15, 0.15);
    padding: 0 10px;
    border-radius: 5px;
    width: 90%; /* Adjust the width as needed */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* This will stretch the child items to fill the navbar height */
    height: 60px; /* Example height */
    background-color: #aa2d2d; /* Background color */
  }
  
  
  .nav-link {
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: center; /* This centers the text horizontally */
    text-decoration: none;
    color: white;
    padding: 0 30px; /* Adjust horizontal padding as needed, but remove vertical padding */
  }
  
  .nav-link:last-child {
    border-right: none; /* Removes border from the last item, as previously specified */
  }
  
  .nav-link:hover {
    background-color: #555; /* Darker shade on hover */
  }
  