.profile-container {
    text-align: center;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .profile-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  