.profile-container {
    padding-left: 20px;
}
  
.profile-header {
    text-align: left;
}
  
.profile-info {
    display: flex;
    align-items: center;
    gap: 20px; /* Add space between the image/icon and the text */
}
  
.profile-info img, .profile-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 50%;
    object-fit: cover; /* Ensures the image covers the area without stretching. Note: This doesn't apply to the icon */
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Added to move the button below the profile info */
    display: block; /* Makes the button block level for the margin-top to work */
}
  
.edit-profile-btn:hover {
    background-color: #0056b3;
}

.selling-info, .reviews-section {
    margin-bottom: 20px;
}
  
.selling-info {
    display: flex;
    justify-content: space-between;
}
  
.info-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5%;
    flex: 1;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.reviews-section button:hover {
    background-color: #0056b3;
}
  
.no-reviews {
    text-align: center;
    color: #666;
    margin-top: 20px;
}
