.profile-container {
    padding: 20px;
    max-width: 800px; /* Adjust based on your layout needs */
    margin: auto;
  }
  
  .profile-header h1 {
    margin-left: 0;
    text-align: left;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    gap: 20px; /* Adds space between the image/icon and the text */
  }
  
  .profile-info img, .profile-info .MuiSvgIcon-root {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5%;
    object-fit: cover;
    border: 2px solid #ddd; /* Adds a slight border around the image/icon */
  }
  
  .edit-profile-btn {
    display: block;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-profile-btn:hover {
    background-color: #0056b3;
  }
  
  .selling-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .info-box {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    text-align: center;
  }
  
  .reviews-section {
    margin-top: 20px;
  }
  
  .reviews-section button {
    margin: 10px 5px; /* Space between buttons */
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .reviews-section button:hover {
    background-color: #0056b3;
  }
  
  .carousel-container {
    margin-top: 20px;
  }
  
  .no-reviews {
    text-align: center;
    color: #666;
    margin-top: 20px;
  }
  