/* AboutUsPage.css */
.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-us-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 20px;
  color: #0077b6; /* Adjust the color to fit your site's theme */
}

.team-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  flex-basis: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.team-member img {
  max-width: 100%;
  border-radius: 50%; /* Circular image for team member */
  margin-bottom: 10px;
}

.team-member h3 {
  margin: 5px 0;
}

.team-member p {
  font-style: italic;
}

.order-bottom a,
.item-actions button,
.order-action-button {
  text-decoration: none;
  color: white;
  background-color: #0077b6; /* Example primary color */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.order-bottom a:hover,
.item-actions button:hover,
.order-action-button:hover {
  background-color: #005f8a; /* Darker shade for hover state */
}

/* You may need additional media queries to ensure responsiveness */
@media (max-width: 768px) {
  .team-member {
    flex-basis: 45%; /* Adjust team member size on smaller screens */
  }

  .order-middle,
  .order-bottom,
  .order-top,
  .order-header,
  .order-info {
    flex-direction: column;
    align-items: center;
  }

  .item-details,
  .item-actions {
    width: 100%;
    text-align: center;
  }

  .item-actions {
    margin-top: 10px;
  }

  .order-details p,
  .order-id p {
    text-align: center;
  }
}
