.account-settings {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-light);
}

.account-settings h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.account-settings-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Ensures even spacing between form fields */
}

.account-settings-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #555;
}

.account-settings-form input[type="password"],
.account-settings-form input[type="email"],
.account-settings-form button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.account-settings-form button {
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.account-settings-form button:hover {
  background-color: var(--primary-dark);
}

/* Ensure the form elements are not too wide on larger screens */
@media (min-width: 768px) {
  .account-settings-form input[type="password"],
  .account-settings-form input[type="email"],
  .account-settings-form button {
    width: 70%;
    align-self: center; /* Center the form elements */
  }
}
