/* CareersPage.css */
.careers-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 60%;
}

.careers-container h1,
.careers-container h2 {
  color: var(--primary-color); /* Cobalt blue */
}

.careers-container p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-info a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
