.carousel-container {
    margin: auto;
    padding: 20px;
    width: 90%; /* Adjust based on your preference */
    position: relative; /* Add this line to create a positioning context for the arrows */
  }
  
  .carousel-slide img {
    width: 100%; /* Make the image fit the slide */
    height: auto; /* Maintain aspect ratio */
  }
  
  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  
  .carousel-item {
    flex: 0 0 40%; /* Adjust this value based on your design to control the item width */
    text-align: center;
    margin: 0 10px; /* Add space between items. Adjust as necessary */

  }
  
  .carousel-item img {
    width: 10em;
    height: 10em; /* Maintain aspect ratio */
    border: 2px black solid;
    margin:0 auto
  }
  
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  
  