@import "../ui/colors.css";

/* CartPage.css */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-color);
  width: 90%;
  margin: auto;
  min-height: 60%;
}

.seller-box {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.item-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.item-image {
  width: 100px; /* Adjust based on your preference */
  height: 100px; /* Adjust based on your preference */
  object-fit: cover;
  border-radius: 8px;
}

.item-info {
  flex-grow: 1;
}

.item-title,
.item-price {
  margin: 0;
  padding: 0;
}

.remove-item-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #f00;
}

.total-price {
  font-weight: bold;
  margin-top: 20px;
}

.checkout-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Makes the button block level for easier centering */
  width: 100%;
  margin-top: 10px;
}

/* If you're using MUI Button, you might not need .checkout-btn styles,
     but ensure to apply a class for margin-top */

.empty-cart-message {
  text-align: center;
  padding: 50px;
}

.explore-btn {
  display: block;
  width: max-content;
  margin: 20px auto; /* Center the button horizontally */
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
