/* ebaySearch.css */
.loadingText {
  /* Your loading text styles */
}

.resultsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Responsive Grid */
@media (max-width: 1024px) {
  .resultsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .resultsContainer {
    grid-template-columns: 1fr;
  }
}

.resultItem {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

.resultItem h3 {
  height: 20%;
  text-align: center;
  overflow: visible;
}

.resultItem p {
  height: 20%;
}

.resultItem img {
  max-width: 100%;
  max-height: 60%;
  object-fit: contain;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.resultLink {
  text-decoration: none;
  color: inherit;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 1000;
  display: none; /* Initially hidden */
}
.buttonsContainer button.selectedPage {
  background-color: #4caf50; /* Green background for selected page */
  color: white; /* White text for visibility */
}

.buttonsContainer button {
  background-color: #5c67a3; /* Custom background color */
  color: white; /* Text color */
  padding: 8px 16px; /* Padding around text */
  border-radius: 4px; /* Rounded corners */
}

.buttonsContainer button:hover {
  background-color: navy; /* Darker background on hover */
}
