.edit-item-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
  }
  
  .edit-item-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-item-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .edit-item-container form .MuiTextField-root {
    margin: 8px 0; /* Adjust the margin as necessary */
  }
  
  .edit-item-container form .MuiButton-root {
    margin-top: 20px;
  }
  