.edit-profile {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-light);
}

.edit-profile h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Ensures even spacing between form fields */
}

.edit-profile-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="password"],
.edit-profile-form input[type="file"],
.edit-profile-form button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Adjusts input fields to take full width */
}

.edit-profile-form button {
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.edit-profile-form button:hover {
  background-color: var(--primary-dark);
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
  .edit-profile-form input[type="text"],
  .edit-profile-form input[type="password"],
  .edit-profile-form input[type="file"],
  .edit-profile-form button {
    width: 70%;
    align-self: center; /* Center the form elements on larger screens */
  }
}
