/* Footer.css */
.footer-layer.info-links,
.footer-layer.legal-info,
.newsletter-section,
.app-promotion-layer {
  padding: 20px;
  color: #fff;
}

/* Footer.css */
.footer-layer.info-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjust based on your content and design preference */
  gap: 20px; /* Space between columns */
  background-color: #222; /* Darker background for contrast */
  padding: 20px;
  color: #fff;
}

/* Ensures that each section including the title and links behaves like a mini-grid */
.footer-layer.info-links div {
  display: flex;
  flex-direction: column;
}

.footer-layer.info-links h2 {
  margin-bottom: 10px; /* Space between the title and the first link */
  color: #007bff;
}

/* Adjusts the link appearance */
.footer-layer.info-links a {
  color: #fff; /* Light color for the links */
  text-decoration: none; /* No underlines */
  margin-bottom: 5px; /* Space between links */
}

.footer-layer.legal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1A1A1A; /* Dark background for contrast */
  color: #ffffff;
  font-size: 12px; /* Smaller font size for the legal links */
}

.footer-layer.legal-info .footer-logo {
  width: 80px; /* Smaller logo size */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Ensures some space between logo and legal links */
  align-self: flex-start; /* Aligns logo to the top if there's more vertical space */
}

.legal-links {
  display: flex;
  justify-content: space-evenly; /* Evenly spaces the links within the container */
  align-items: center;
  width: 100%; /* Takes up remaining space to justify content evenly */
  flex-wrap: wrap; /* Allows links to wrap on smaller screens */
}

.legal-links a {
  color: #ffffff; /* White color for readability */
  text-decoration: none; /* Removes underline */
  margin: 0 10px; /* Evenly spaces the links */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.legal-links a:hover {
  color: #BBBBBB; /* Changes color on hover for visual feedback */
}

/* Adjusts the layout for smaller screens */
@media (max-width: 768px) {
  .footer-layer.legal-info {
    flex-direction: column;
    text-align: center;
  }

  .footer-layer.legal-info .footer-logo {
    margin-bottom: 10px; /* Adds some space between logo and links on smaller screens */
  }

  .legal-links {
    justify-content: center; /* Centers links when stacked vertically */
    margin-top: 10px; /* Adds some space above links */
  }
}

.app-promotion-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #2f4691; /* Adjust the background color as necessary */
}

.app-store-icon {
  width: 150px; /* Adjust the width as necessary */
  height: auto; /* Maintain aspect ratio */
  margin: 0 5px; /* Adjust the margin as necessary */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-layer.info-links {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }

  .app-promotion-layer {
    flex-direction: column;
    text-align: center;
  }
}


/* Additional styling for the newsletter section if needed */
.newsletter-section {
  background-color: #f2f2f2; /* Light grey background */
  color: #000; /* Text color */
  text-align: center;
  padding: 20px;
}

.newsletter-section input[type="email"],
.newsletter-section button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px; /* Adds rounded corners */
}

.newsletter-section button {
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
  border: none;
  cursor: pointer;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .app-promotion-layer,
  .footer-layer.legal-info {
    flex-direction: column;
    text-align: center;
  }
  
  .app-store-links img,
  .app-store-icon {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
}
