.help-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  min-height: 60%;
}

.help-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.help-container p {
  text-align: justify;
  margin-bottom: 20px;
}

.help-container ul {
  list-style-type: none;
  padding: 0;
}

.help-container li {
  margin-bottom: 10px;
}

.help-container a {
  color: #0077b6; /* Primary color */
}
