/* ItemInfo.css */
.item-info-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
  }
  
  .item-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  
  .item-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .item-details {
    flex: 1;
    padding: 20px;
  }
  
  .seller-info {
    padding: 20px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  