.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.infoLabel {
  font-weight: 500;
  color: #666;
}

.editButton,
.saveButton {
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.editButton:hover,
.saveButton:hover {
  background-color: #004494;
}

.textField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-right: 10px;
}

/* Adjustments for MUI TextField if used */
.MuiTextField-root {
  margin-right: 10px;
}

/* Button adjustments for MUI Buttons if used */
.MuiButton-root {
  margin-left: 10px;
}
.personal-info-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.info-content {
  flex-grow: 1;
}

.action-buttons {
  display: flex;
  gap: 10px; /* Adjusts space between buttons */
}
