.review-box {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .review-box:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-light);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure it's above other content */
    width: 80%;
    max-width: 500px;
  }
  
  .lightbox button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .lightbox button:hover {
    background-color: var(--primary-dark);
  }
  