.search-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.search-result-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  height: fit-content;
}

.item-image {
  max-width: 100%;
  height: auto;
}

.item-title {
  margin-top: 10px;
  font-weight: bold;
}

.item-price {
  margin-top: 5px;
}

.search-page-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align the children horizontally */
  width: 100%; /* Take full width of the viewport */
}

.Results {
  display: flex;
  flex-direction: row; /* Align children side by side */
  width: 100%; /* Take full width of the viewport */
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.filter-bar {
  width: 20%; /* Filter bar takes up 20% of the container width */
  flex: 0 0 20%;
  padding: 20px;
  border-right: 1px solid #ddd; /* Optional: Adds a visual separation */
  overflow-y: auto; /* Allows scrolling within the filter bar if content overflows */
}

.search-results-container {
  flex-grow: 1; /* Allows this container to take up the remaining space */
  padding: 20px;
  overflow-y: auto; /* Allows scrolling within the search results if content overflows */
}
