@import "../ui/colors.css";

/* signin.css */
.login-register {
  text-align: center;
  background-color: var(--background-color);
  width: 80%;
  margin: auto;
  min-height: 60%;
  padding-top: 2em;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
}

.returning-user,
.new-user {
  flex: 1;
  margin: 10px;
}

h2 {
  color: #333;
}

.required {
  color: red;
}

.forgot-password {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px); /* Adjust input width */
}

button {
  background-color: #4caf50; /* Button color */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker shade on hover */
}

label {
  display: block;
  margin: 10px 0;
}

.error-message {
  color: red;
  margin-top: 10px;
}
