@import "./ui/colors.css";


.homepage {
  width: 90%;
  margin: auto;
  padding: 2em;
  background-color: var(--background-color);
}

/* Additional styles for slideshow, carousel, arrows, and placeholders */
.slideshow {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 16px; /* Rounded corners */
}

.slideshow img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px; /* Rounded corners for images */
}
