/* index.css or App.css */

:root {
  --black: #0d0d0d;
  --white: #f8f8f8;
  --grey: #212121;
  --lightGrey: #d3d3d3;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar */

  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--background-color); /* Cream white background */
  overflow-x: hidden !important; /* Prevent horizontal scrollbar when menu opens */
}

/* Global CSS file */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
