/* index.css or App.css */

:root {
  --black: #0D0D0D;
  --white: #F8F8F8;
  --grey: #212121;
  --lightGrey: #D3D3D3;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: "Roboto Mono", monospace;
  font-weight: normal;


}